---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
  labels:
    app: postgres
  name: postgres
  namespace: {{ NAMESPACE }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ DBSIZE  }}
